.glassy {
  backdrop-filter: blur(16px) saturate(135%);
  -webkit-backdrop-filter: blur(16px) saturate(135%);
  background-color: rgba(255, 255, 255, 0.73);
}
.transparent_bg {
  background: transparent;
}
